version: '3.8'

services:
  client:
    build: 
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - server

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - AI_SERVICE_URL=http://ai_engine:8000
    depends_on:
      - ai_engine

  ai_engine:
    build:
      context: ./ai_engine
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
